<%- include("./partials/header.ejs") %>

<div class="ui main text container segment">
	<div class="ui header center align">
		Edit Project - 	Created: <%=project.created.toDateString()%>
		<form class="ui form" action="/project/<%= project._id %>/edit" method="POST">
			
			<div class="ui field">
				<label>Title</label>
				<input type="text" name="project[projectTitle]" value="<%=project.projectTitle%>">
			</div>
			
			<div class="field">
				<label>Client</label>
				<input type="text" name="project[client]" value="<%=project.client%>">
			</div>
			
			<div class="field">
				<label>Start Date</label>
				<input type="date" name="project[startDate]" value="<%=project.startDate.toISOString().slice(0,10)%>">
			</div>
			
			<div class="field">
				<label>Description</label>
				<textarea name="project[description]" value="<%=project.description%>"><%=project.description%></textarea>
			</div>
			
			<input class="ui button" type="submit">
			
		</form>			
	</div>
</div>

<%- include("./partials/footer.ejs") %>